/* Icons from directory "" */
.icon-facebook,.icon-facebook\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-facebook-dims{width:32px;height:32px}
.icon-linkedin,.icon-linkedin\:regular{background-image:url('icons/icons.svg');background-position:0 -32px;background-repeat:no-repeat}
.icon-linkedin-dims{width:32px;height:32px}
.icon-odnoklassniki,.icon-odnoklassniki\:regular{background-image:url('icons/icons.svg');background-position:0 -64px;background-repeat:no-repeat}
.icon-odnoklassniki-dims{width:32px;height:32px}
.icon-skype,.icon-skype\:regular{background-image:url('icons/icons.svg');background-position:0 -96px;background-repeat:no-repeat}
.icon-skype-dims{width:32px;height:32px}
.icon-telegram,.icon-telegram\:regular{background-image:url('icons/icons.svg');background-position:0 -128px;background-repeat:no-repeat}
.icon-telegram-dims{width:32px;height:32px}
.icon-vkontakte,.icon-vkontakte\:regular{background-image:url('icons/icons.svg');background-position:0 -160px;background-repeat:no-repeat}
.icon-vkontakte-dims{width:32px;height:32px}
.icon-watsapp,.icon-watsapp\:regular{background-image:url('icons/icons.svg');background-position:0 -192px;background-repeat:no-repeat}
.icon-watsapp-dims{width:32px;height:32px}